[submodule "tendermint"]
	path = tendermint
	url = https://github.com/Plopmenz/tendermint.git
[submodule "smart-contracts/hello_foundry/lib/forge-std"]
	path = smart-contracts/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
